@import "../../assets/sass/variables";

.nav {
    align-items: center;
    border-bottom: 1px solid $color-grey-light;
    display: flex;
    gap: 4rem;
    padding: 3rem 0;

    &_title {
        font-size: 3.4rem;
        font-weight: 700;
    }

    &_links {
        display: flex;
        gap: 3rem;

        a {
            color: $color-grey;
        }
    }

    &_side {
        align-items: center;
        display: flex;
        gap: 4rem;
        margin-left: auto;
    }

    &_cart {
        position: relative;
    }

    &_btn_cart {
        background: none;
        border: none;
        cursor: pointer;
        position: relative;

        span {
            background: $color-primary;
            border-radius: 5rem;
            color: $color-white;
            font-family: $font-primary;
            font-size: 1.2rem;
            font-weight: bold;
            padding: .1rem .8rem;
            position: absolute;
            right: -75%;
            top: -50%;
        }
    }

    &_user {
        border-radius: 50%;
        border: 3px solid $color-primary;
        cursor: pointer;
        height: 6rem;
        width: 6rem;

        img {
            height: 100%;
            width: 100%;
        }
    }
}