@import "../../../assets/sass/variables";

.product_info {

    h4 {
        color: $color-primary;
        letter-spacing: 3px;
        margin-bottom: 2rem;
        text-transform: uppercase;
    }

    h3 {
        font-size: 4.5rem;
        margin-bottom: 3rem;
    }

    &_desc {
        color: $color-grey;
        line-height: 2.5rem;
        margin-bottom: 2.5rem;
    }

    &_price {
        align-items: center;
        color: #000;
        display: flex;
        font-size: 3rem;
        font-weight: bold;
        gap: 1.6rem;
        margin-bottom: 1rem;

        span {
            background: $color-primary-light;
            border-radius: .6rem;
            color: $color-primary;
            font-size: 1.4rem;
            padding: .5rem;
        }
    }

    &_prev_price {
        color: $color-grey;
        margin-bottom: 4rem;
        text-decoration: line-through;
    }

    &_btns {
        display: flex;
        gap: 2rem;

        > .quantity {
            flex: 1;
        }

        > button {
            flex: 2;
        }
    }
}