@import "../../../assets/sass/variables";

.product {
    align-items: center;
    display: flex;
    flex-direction: column;

    .product_main {
        cursor: pointer;
        margin-bottom: 2rem;
        max-width: 50rem;
        position: relative;
        width: 100%;

        > img {
            border-radius: 2rem;    
            height: 100%;
            width: 100%;
        }
    }

    .product_sub {
        cursor: pointer;
        display: flex;
        gap: 3rem;
        justify-content: center;

        &-img {
            background: #fff;
            border-radius: 1rem;
            flex: 1;
            max-width: 10rem;
            overflow: hidden;

            &.active {
                border: 3px solid $color-primary;
                
                img {
                    opacity: .3;
                }
            }

            &:hover {

                img {
                    opacity: .7;
                }
            }
        }
        
        img {
            height: 100%;
            width: 100%;
        }
    }

    &_prev,
    &_next,
    &_close {
        align-items: center;
        background: $color-white;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        display: flex;
        height: 5rem;
        justify-content: center;
        position: absolute;
        width: 5rem;
        z-index: 10;
    }

    &_prev {
        left: 0;
        top: 50%;
        transform: translate(-50%, -50%);
    }  
    
    &_next {
        right: 0;
        top: 50%;
        transform: translate(50%, -50%);
    }

    &_close {
        background: none;
        height: 5rem;
        position: absolute;
        right: -1rem;
        top: -5rem;
        width: 5rem;
    }
}