@import "../../assets/sass/variables";

.cart {
    background: $color-white;
    border-radius: 1rem;
    bottom: -3rem;
    box-shadow: 0 4px 16px rgba(#000, .2);
    display: flex;
    flex-direction: column;
    font-family: $font-primary;
    height: 25rem;
    left: 50%;
    position: absolute;
    right: 50%;
    transform: translate(-50%, 100%);
    width: 35rem;

    h3 {
        border-bottom: 2px solid $color-grey-light;
        font-size: 1.8rem;
        padding: 2rem;
        text-align: left;
    }

    &_main {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 2rem;
        justify-content: center;
        padding: 2rem;
    }

    &_empty {
        color: $color-grey;
        font-size: 1.6rem;
        font-weight: bold;
    }

    &_list {
    }

    &_item {
        align-items: center;
        border-radius: 1rem;
        display: flex;
        gap: 1rem;

        > img {
            border-radius: 1rem;
            height: 5rem;
            width: 5rem;
        }
    }

    &_item_name {
        color: $color-grey;
        font-family: $font-primary;
        font-size: 1.6rem;
        margin-bottom: .5rem;
    }

    &_item_price {
        color: $color-grey;
        font-size: 1.6rem;

        span {
            color: $color-black;
            font-weight: bold;
        }
    }

    &_delete {
        background: none;
        border: none;
        cursor: pointer;
        height: auto;
        width: 2rem;

        img {
            border-radius: none;
            height: 100%;
            width: 100%;
        }
    }

    button.cart_checkout {
        font-size: 1.8rem;
        padding: 1.5rem 0;
        width: 100%;
    }
}