@import "../../assets/sass/variables";

.cart {
    background: $color-white;
    border-radius: 1rem;
    bottom: -3rem;
    box-shadow: 0 4px 16px rgba(#000, .2);
    display: flex;
    flex-direction: column;
    font-family: $font-primary;
    max-height: 35rem;
    max-width: 35rem;
    min-height: 25rem;
    overflow-x: auto;
    position: absolute;
    right: 1rem;
    top: 10rem;
    width: 100%;
    z-index: 10;

    @media only screen and (max-width: $bp-small) {
        top: 8rem;
    }

    @media only screen and (max-width: $bp-mobile) {
        max-width: 95%;
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
    }

    h3 {
        border-bottom: 2px solid $color-grey-light;
        font-size: 1.8rem;
        padding: 2rem;
        text-align: left;
    }

    &_main {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 2rem;
        justify-content: center;
        padding: 2rem;

        ul {
            width: 100%;
        }
    }

    &_empty {
        color: $color-grey;
        font-size: 1.6rem;
        font-weight: bold;
    }

    &_item {
        align-items: center;
        border-radius: 1rem;
        display: flex;
        gap: 1rem;
        justify-content: space-between;

        &:not(:last-of-type) {
            margin-bottom: 1rem;
        }
        

        > img {
            border-radius: 1rem;
            height: 5rem;
            width: 5rem;
        }
    }

    &_item_name {
        color: $color-grey;
        font-family: $font-primary;
        font-size: 1.6rem;
        margin-bottom: .5rem;
    }

    &_item_price {
        color: $color-grey;
        font-size: 1.6rem;

        span {
            color: $color-black;
            font-weight: bold;
        }
    }

    &_delete {
        background: none;
        border: none;
        cursor: pointer;
        height: auto;
        width: 2rem;

        img {
            border-radius: none;
            height: 100%;
            width: 100%;
        }
    }

    button.cart_checkout {
        font-size: 1.8rem;
        padding: 1.5rem 0;
        width: 100%;
    }
}