/* Colors */

$color-primary: #ff7d1a;
$color-primary-light: #ffede0;
$color-grey: #6F6F71;
$color-grey-light: #e4e7f2;
$color-white: #fff;
$color-black: #22222A;

/* Fonts */

$font-primary: 'Kumbh Sans', sans-serif;

/* Breakpoints */

$bp-large: 90em; /*1440px*/
$bp-medium: 62.5em; /*1000px*/
$bp-small: 51.5625em; /*825px*/